<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/>
    </startup>
  <connectionStrings>
      <add name="Kjeringi.2015" connectionString="Server=kjeringi.mysql.database.azure.com;Database=kop2015;Uid=rune@kjeringi;Pwd=DetteEr1Passord;"/>
      <add name="Kjeringi.2016" connectionString="Server=kjeringi.mysql.database.azure.com;Database=kop2016;Uid=rune@kjeringi;Pwd=DetteEr1Passord;"/>
      <add name="Kjeringi.2017" connectionString="Server=kjeringi.mysql.database.azure.com;Database=kop2017;Uid=rune@kjeringi;Pwd=DetteEr1Passord;"/>
      <add name="Kjeringi" connectionString="Server=kjeringi.mysql.database.azure.com;Database=kop2018;Pwd=DetteEr1Passord;Uid=rune@kjeringi;Allow User Variables=True"/>
      <add name="Kjeringi.Writer" connectionString="Server=kjeringi.mysql.database.azure.com;Database=timers;Uid=rune@kjeringi;Pwd=DetteEr1Passord;"/>
  </connectionStrings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-10.0.0.0" newVersion="10.0.0.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
