<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/>
  </startup>
  <appSettings>
    <add key="com" value="COM3"/>
    <add key="BoxId" value="90"/>
    <add key="hub" value="http://kjeringiopen.azurewebsites.net/"/>
    <!--<add key="hub" value="http://localhost:53130/" />-->
  </appSettings>
</configuration>
