<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/67a854bb-bdb1-4a47-8ad6-c6b1c17ad9f7/resourceGroups/KjeringiOpen/providers/Microsoft.Web/sites/KjeringiOpen</ResourceId>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://kjeringiopen.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>kjeringiopen.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>KjeringiOpen</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <InstallAspNetCoreSiteExtension>False</InstallAspNetCoreSiteExtension>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$KjeringiOpen</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="Kjeringi.Writer" Order="1" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Server=kjeringisql.mysql.database.azure.com;Uid=kjeringi@kjeringisql;Allow User Variables=True;Pwd=DetteEr1Passord;database=timers;" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\Kjeringi.Writer_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Server=kjeringisql.mysql.database.azure.com;Uid=kjeringi@kjeringisql;Allow User Variables=True;Pwd=DetteEr1Passord;database=timers;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="Kjeringi" Order="2" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Server=kjeringisql.mysql.database.azure.com;Uid=kjeringi@kjeringisql;Allow User Variables=True;Pwd=DetteEr1Passord;" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\Kjeringi_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Server=kjeringisql.mysql.database.azure.com;Uid=kjeringi@kjeringisql;Allow User Variables=True;Pwd=DetteEr1Passord;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)Kjeringi-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)Kjeringi.Writer-Web.config Connection String" />
  </ItemGroup>
</Project>