@{
    ViewBag.Title = "Emit reader";
}

<div id="log">
    <style>
        #customers {
            font-family: 'Trebuchet MS', Arial, Helvetica, sans-serif;
            width: 100%;
            border-collapse: collapse;
        }

            #customers td, #customers th {
                font-size: 1em;
                border: 1px solid #98bf21;
                padding: 3px 7px 2px 7px;
            }

            #customers th {
                font-size: 1.1em;
                text-align: left;
                padding-top: 5px;
                padding-bottom: 4px;
                background-color: #A7C942;
                color: #ffffff;
            }

            #customers tr.alt td {
                color: #000000;
                background-color: #EAF2D3;
            }
    </style>

    <div style='padding-top:10px;width:100%;text-align:center;'>
        <div>
            <div style='padding-top:20px;'>Startnummer:</div>
            <div style='font-size:50pt' data-bind="text: Startnumber">

            </div>
        </div>
        <div>
            <div style='padding-top:40px;'>Brikkenummer:</div>
            <div style='font-size:50pt' data-bind="text: EmitID">

            </div>
        </div>
    </div>

    <hr style='margin-top:40px;margin-bottom:40px;border:0;border-bottom: 1px dashed #ccc;background:#999' />

    <div style='font-size:20pt;text-align:center;width:100%'>
        <h2>Mellombels resultat</h2>

        <div data-bind="text: Name"></div>
        <div>
             - <span data-bind="text: Position"></span>.plass
        </div>
    </div>
</div>

<script type="text/javascript" src="@Url.Content("~/scripts/model.js")"></script>
<script type="text/javascript">

    $(document).ready(function () {
        var model = new Kjeringi.resultatViewModel();

        $.connection.resultatServiceHub.client.processResultat = function (resultat) {
            model.Namn(resultat.Name);
            model.Klasse(resultat.Class);
            model.EmitID(resultat.EmitID);
            model.Startnummer(resultat.Startnumber);
            model.Medlemmer(resultat.Leg);
            model.Etappetider(resultat.Time);
            model.TotalTid(resultat.Total);
            model.PlasseringIKlasse(resultat.Position);
        }

        //ko.applyBindings(systems, $("#offline-systems-list")[0]);
        ko.applyBindings(model);

        $.connection.hub.start()
            .done(function () {
                $.connection.resultatServiceHub.server.join("EmitDisplay");
                $.connection.resultatServiceHub.server.addtoGroup("0");
            })
    });

</script>
