@{
    ViewBag.Title = "Status page";
}
<div id="systemStatus">
    <h5 data-bind="visible: connected">Connected</h5>
    <table class="table table-striped" border="0">
        <tbody>
            <tr>
                <th>Id</th>
                <th>System</th>
                <th>Sist endring</th>
                <th>Status</th>
            </tr>
            <!-- ko foreach: systems -->
            <tr>
                <td data-bind="text: Id"></td>
                <td data-bind="text: SystemName"></td>
                <td data-bind="text: TimeStamp"></td>
                <td data-bind="text: Connected"></td>
            </tr>
            <!-- /ko -->
        </tbody>
    </table>
</div>

<div id="log" style="height:300px;overflow:auto;">
    <h3>Log</h3>
    <ul data-bind="foreach: log">
        <li><span data-bind="text: $data"></span></li>
    </ul>
</div>

@section Scripts {
    <script src="~/Scripts/index.js"></script>
}