@model EmitReaderLib.Model.Participant

<div class="row participant">
    <div class="col-sm-12">
        <div class="row">
            <div class="col-sm-8">
                <p>
                    <span class="badge badge-default startnumber">@Model.Startnumber</span>
                    <strong>
                        @Model.Name
                    </strong>
                </p>
            </div>
            <div class="col-sm-4 text-right">
                <strong>@Model._splits[0].Time</strong><br />
        </div>
    </div>
    <hr />
    </div>
</div>

