@{
    ViewBag.Title = ViewBag.Name;
}
<div style="min-height:300px">
    <table class="table table-striped" id="incoming" style="height:200px">
        <tbody data-bind="foreach: incoming.sort(function(l, r) {l.EstimatedArrival > r.EstimatedArrival})">
            <tr>
                <td><span class="badge"></span></td>
                <td><span data-bind="text: Name"></span><span data-bind="visible:IsTeam"> : <span data-bind="text: TeamMembers[3]"></span></span></td>
                <td></span></td>
                <td></span></td>
                <td><span data-bind="text: EstimatedArrival"></span></td>
            </tr>
        </tbody>
        <thead>
            <tr>
                <th>#</th>
                <th>Namn</th>
                <th>Klasse</th>
                <th>Etappe</th>
                <th>Total</th>
            </tr>
        </thead>
        <tbody data-bind="foreach: results">
            <tr data-bind="css: {'info' : ($data.Position == 1), 'warning' : ($data.Position == 2), 'success' : ($data.Position == 3)}">
                <td><span data-bind="text: Position" class="badge"></span></td>
                <td><span data-bind="visible:Team"><span data-bind="text:Team"></span> : </span><span data-bind="text: Name"></span></td>
                <td><span data-bind="text: Class"></span></td>
                <td><span data-bind="text: Time"></span></td>
                <td><span data-bind="text: Total"></span></td>
            </tr>
        </tbody>
    </table>
</div>

@section Scripts {
<script>
    globalStationFinishId = '@ViewBag.StationFinishId';
    globalStationIncomingId = '@ViewBag.StationIncomingId';
</script>
<script src="~/Scripts/speaker.js"></script>

    }
